* {
  box-sizing: border-box;
}

:root {
  --tempest: rgb(51, 33, 55);
  --gradient: linear-gradient(
    60deg,
    hsl(289deg 25% 17%) 0%,
    hsl(315deg 43% 27%) 32%,
    hsl(328deg 64% 38%) 49%,
    hsl(335deg 88% 45%) 60%,
    hsl(343deg 100% 52%) 68%,
    hsl(353deg 100% 58%) 74%,
    hsl(4deg 100% 59%) 78%,
    hsl(16deg 100% 53%) 82%,
    hsl(25deg 100% 50%) 85%,
    hsl(31deg 100% 50%) 89%,
    hsl(37deg 100% 50%) 93%,
    hsl(43deg 100% 50%) 100%
  );
  color-scheme: light dark;
  font-family: BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
    helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

body {
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
